@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Conference Meeting</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <img src="~/Images/Bidbilly.png" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <img src="~/Images/Conference meeting.jpg" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div>

<a class="btn btn-primary" asp-action="RegisterForm">Register for Conference Meeting</a>   